USE [master]
GO
/****** Object:  Database [C:\USERS\РАМИРОС\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\PROJECT4\MYPROJECTDB.MDF]    Script Date: 10.07.2017 16:39:38 ******/
CREATE DATABASE [C:\USERS\РАМИРОС\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\PROJECT4\MYPROJECTDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyProjectDB', FILENAME = N'C:\Users\Рамирос\Documents\Visual Studio 2015\Projects\Project4\MyProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyProjectDB_log', FILENAME = N'C:\Users\Рамирос\Documents\Visual Studio 2015\Projects\Project4\MyProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\РАМИРОС\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\PROJECT4\MYPROJECTDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\РАМИРОС\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\PROJECT4\MYPROJECTDB.MDF]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10.07.2017 16:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[City] [nchar](50) NOT NULL,
	[Addess] [nchar](50) NOT NULL,
	[NumberOfEmployees] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10.07.2017 16:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[SecondName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Telephone] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequestEmployees]    Script Date: 10.07.2017 16:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestEmployees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Requests]    Script Date: 10.07.2017 16:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
	[Date] [datetime] NOT NULL,
	[TypeOfRequest] [int] NOT NULL,
	[FromWhoID] [int] NOT NULL,
	[WhomId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypesOfRequest]    Script Date: 10.07.2017 16:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesOfRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [DepartmentFK] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [DepartmentFK]
GO
ALTER TABLE [dbo].[RequestEmployees]  WITH CHECK ADD  CONSTRAINT [EmployeeFK] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[RequestEmployees] CHECK CONSTRAINT [EmployeeFK]
GO
ALTER TABLE [dbo].[RequestEmployees]  WITH CHECK ADD  CONSTRAINT [RequestFK] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([Id])
GO
ALTER TABLE [dbo].[RequestEmployees] CHECK CONSTRAINT [RequestFK]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FromWhoIDFK] FOREIGN KEY([FromWhoID])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FromWhoIDFK]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [TypeOfRequestFK] FOREIGN KEY([TypeOfRequest])
REFERENCES [dbo].[TypesOfRequest] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [TypeOfRequestFK]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [WhomIDFK] FOREIGN KEY([WhomId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [WhomIDFK]
GO
USE [master]
GO
